@import "tailwindcss";

@theme {
  /*--font-display: "Satoshi";*/
  --color-primary: #d1d1d1;
  --color-gold: #ffcc00;
  /*--sidebar-width: 5rem;*/
  --sidebar-width: 14.375rem;
  --navbar-height: 4rem;
}

@layer base {
  body {
    /*@apply font-display;*/
    background-color: var(--color-primary);
  }

  a {
    @apply border-solid border-black;
    text-decoration: none;
  }

  input {
    @apply border-solid border-black rounded;
  }
}

@layer components {
  .navbar {
    @apply shadow-[0_4px_6px_-2px_rgba(0,0,0,0.5)] bg-white ml-[var(--sidebar-width)] h-[var(--navbar-height)] w-full fixed;
  }

  .navbar-content-container {
    @apply p-1.5;
  }

  .body-content {
    @apply flex h-screen;
  }

  .sidebar {
    @apply fixed inset-y-0 left-0 w-[var(--sidebar-width)] bg-black text-white p-4 space-y-6;
  }

  .content {
    @apply flex-1 p-6 ml-[var(--sidebar-width)] mt-[var(--navbar-height)];
  }

  .actions {
    @apply space-x-4;
  }

  .actions a {
    @apply border-solid border-black;
  }

  .session-container {
    @apply relative flex justify-center items-center h-screen;
  }

  .session-box {
    @apply bg-black text-white p-8 rounded-lg text-center w-96;
  }

  .field-input-container {
    @apply text-left mb-1.5;
  }

  .field-checkbox-container {
    @apply text-left mt-2.5 mb-2.5;
  }

  .input-primary {
    @apply bg-white p-2 w-full text-black;
  }

  .btn-primary {
    @apply w-full content-center bg-yellow-500 p-2 py-2 text-black font-semibold rounded cursor-pointer hover:bg-yellow-600;
  }

  .btn-secondary {
    @apply w-full content-center p-2 py-2 border border-yellow-500 text-yellow-500 bg-transparent rounded cursor-pointer hover:bg-yellow-500 mt-3 hover:text-black transition;
  }

  .divider {
    @apply my-1 text-white text-xs;
  }

  .divider-horizontal {
    @apply w-full h-px bg-white rounded-sm;
  }

  .yellow-circle {
    @apply absolute -top-35 -left-24 w-180 h-180 bg-yellow-500 rounded-full -z-99;
  }
}
