<h1>Dasboard</h1>
<%= link_to "Logout",
destroy_user_session_path,
data: {
  "turbo-method": :delete,
},
class: "logout" %>
<div class="dashboard">
  <div class="section">
    <h2>Recent Users</h2>
    <ul>
      <% @users.each do |user| %>
        <li><%= user.id %>
          (<%= user.email %>)</li>
      <% end %>
    </ul>
  </div>
</div>
