<div class="container">
  <%= render "form" %>

  <hr class="divider-horizontal">

  <h2 class="text-lg font-semibold mb-2">Faixas jรก cadastradas</h2>
  <%= render "list",
  company: @company,
  overdue_ranges: @overdue_ranges,
  show_header_btn: false %>
</div>
