<div
  id="modal-container"
  data-controller="modal"
  class="fixed inset-0 z-50 flex items-center justify-center hidden"
>
  <div
    class="absolute inset-0 bg-black opacity-50"
    data-action="click->modal#close"
  ></div>
  <turbo-frame
    id="modal-frame"
    class="relative bg-white rounded-lg p-6 max-w-xl w-full"
  >
  </turbo-frame>
</div>
