<div
  id="modal-container"
  data-controller="modal"
  class="
    fixed inset-0 z-50 flex items-center justify-center bg-black/50 hidden
  "
>
  <turbo-frame
    id="modal-frame"
    data-action="turbo:frame-load->modal#open"
    class="max-w-md w-full"
  >
    <!-- Modal content will be loaded here -->
  </turbo-frame>
</div>
