<div
  data-controller="toast"
  class="toast-panel"
  role="alert"
  tabindex="-1"
  aria-labelledby="hs-toast-condensed-label"
>
  <div class="toast-content">
    <i class="material-icons"><%= icon %></i>
    <p id="hs-toast-condensed-label" class="toast-message">
      <%= message %>
    </p>
    <div class="toast-actions">
      <% if show_undo %>
        <button type="button" class="toast-undo">
          <%= t("undo") %>
        </button>
      <% end %>
      <button
        type="button"
        data-toast-target="closeButton"
        class="toast-close"
        aria-label="Close"
      >
        <i class="material-icons">close</i>
      </button>
    </div>
  </div>
  <div class="toast-countdown" data-toast-target="counter"></div>
</div>
