<turbo-frame id="modal-frame">
  <div class="relative">
    <h1 class="text-2xl font-bold mb-6"><%= t("register_new_company") %></h1>
    <button type="button" data-action="click->modal#close">
      <i class="material-icons text-4xl">close_small</i>
    </button>
  </div>

  <%= render "form" %>
</turbo-frame>
